@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* url import must be at the top  */

@import "tailwindcss";

/* [* selector] select all the elements in the Dom structure */

* {
  font-family: Outfit;
}

.placeholder-color {
  color: #e0e0e0;
  font-weight: 300;
}
